@charset "utf-8";

/* Widescreen Desktop */
@media only screen and (min-width: 1200px) {
  body {
	padding: 1em;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	line-height: 1.5;
	font-size: 1.5em;
  }

  div.main {
	padding: 5em 8em 5em 8em;
	background-color: #f1f1f1;
  }

  h1 {
  font-size: 2.7em;
  line-height: 1.2em;
	font-weight: 700;
  }

  h2 {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 700;
  }

  svg {
	display: inline-block;
	width: 2em;
	height: 2em;
	background-size: 2em 2em;
	outline: none;
	position: relative;
	padding-right: 2em;
  }

  p {
	max-width: 80%;
  }
}


/* Desktop */
@media only screen and (max-width: 1199px) {
  body {
	padding: 1em;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	line-height: 1.5;
	font-size: 1.5em;
  }

  div.main {
	padding: 5em 8em 5em 8em;
	background-color: #f1f1f1;
  }

  h1 {
    font-size: 2.7em;
    line-height: 1.2em;
	font-weight: 700;
  }

  h2 {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 700;
  }

  svg {
	display: inline-block;
	width: 2em;
	height: 2em;
	background-size: 2em 2em;
	outline: none;
	position: relative;
	padding-right: 2em;
  }
}

/* iPad Pro */
@media only screen and (max-width: 999px) {
  body {
	padding: 1em;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	line-height: 1.5;
	font-size: 1em;
  }

  div.main {
	padding: 6em;
	background-color: #f1f1f1;
  }

  h1 {
    font-size: 2em;
    line-height: 1.2em;
	font-weight: 700;
  }

  h2 {
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: 700;
  }

  svg {
	display: inline-block;
	width: 2em;
	height: 2em;
	background-size: 2em 2em;
	outline: none;
	position: relative;
	padding-right: 1.75em;
  }
}

/* iPad */
@media only screen and (max-width: 800px) {
  body {
		padding: 0.8em;
		font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
		line-height: 1.5;
		font-size: 1em;
	}

  div.main {
	padding: 4em;
	background-color: #f1f1f1;
  }

  h1 {
		font-size: 2em;
		line-height: 1.2em;
		font-weight: 700;
	}

	h2 {
		font-size: 2em;
		line-height: 1.2em;
		font-weight: 700;
	}

  svg {
	display: inline-block;
	width: 1.8em;
	height: 1.8em;
	background-size: 1.8em 1.8em;
	outline: none;
	position: relative;
	padding-right: 1.5em;
  }

}

/* iPhone */
@media only screen and (max-width: 600px) {
  body {
	padding: 0.5em;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	line-height: 1.5;
	font-size: 1em;
}

  div.main {
	padding: 2em;
	background-color: #f1f1f1;
  }

  h1 {
  font-size: 1.75em;
  line-height: 1.2em;
	font-weight: 700;
  }

  h2 {
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: 700;
  }

  svg {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-size: 1.5em 1.5em;
	outline: none;
	position: relative;
	padding-right: 1em;
  }

}

/* * * * * * * * * * END MEDIA QUERIES * * * * * * * * * */

img.headshot {
	height: 5em;
	width: 5em;
	border-radius: 500px;
	-webkitborder-radius: 500px;
	outline: none;
}

a {
	line-height: 1.5;
	color: #00c490;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #00694d;
}

div.icons {
	display: inline-block;
}

svg.arrow {
	display: inline;
	width: 1.1em;
	height: 1.1em;
	background-size: 1.1em 1.1em;
	outline: none;
	position: relative;
    top: 0.15em;
    bottom: 0em;
    padding: 0em;
}

div.cta {
	padding: 2em 0em 1em 0em;
}

a.cta {
	display: inline-block;
	background: #00c490;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 1.25em;
	font-weight: 700;
	height: 2.5em;
	width: 15em;
	line-height: 2.5em;
    border-radius: 1000px;
    text-decoration: none;
}

a.cta:hover, a.cta:focus, a.cta:active {
	background: #00694d;
	color: white;
	}

/* p.footer {
	color: #a4a4a4;
	padding-left: 8em;
	font-size: x-small;
} */
