@charset "utf-8";

/* Widescreen Desktop */
@media only screen and (min-width: 1200px) {
  body {
    padding: 1em;
    font-size: 1.5em;
  }

  div.main {
    padding: 5em 8em 5em 8em;
  }

  h1 {
    font-size: 2.7em;
  }

  h2 {
    font-size: 2em;
  }

  svg, object.icons {
    width: 2em;
    height: 2em;
    background-size: 2em 2em;
  }

  p {
    max-width: 80%;
  }
}


/* Desktop */
@media only screen and (max-width: 1199px) {
  body {
	padding: 1em;
	font-size: 1.5em;
  }

  div.main {
	padding: 5em 8em 5em 8em;
  }

  h1 {
    font-size: 2.7em;
  }

  h2 {
	font-size: 2em;
  }

  svg, object.icons {
	width: 2em;
	height: 2em;
	background-size: 2em 2em;
  }
}

/* iPad Pro */
@media only screen and (max-width: 999px) {
  body {
	padding: 1em;
	font-size: 1em;
  }

  div.main {
	padding: 6em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
	font-size: 1.2em;
  }

  svg, object.icons {
	width: 2em;
	height: 2em;
	background-size: 2em 2em;
  }
}

/* iPad */
@media only screen and (max-width: 800px) {
  body {
		padding: 0.8em;
		font-size: 1em;
	}

  div.main {
	padding: 4em;
  }

  h1, h2 {
		font-size: 2em;
	}

  svg, object.icons {
	width: 1.8em;
	height: 1.8em;
	background-size: 1.8em 1.8em;
  }

}

/* iPhone */
@media only screen and (max-width: 600px) {
  body {
	padding: 0.5em;
	font-size: 1em;
}

  div.main {
	padding: 2em;
  }

  h1 {
  font-size: 1.75em;
  }

  h2 {
	font-size: 1.5em;
  }

  svg, object.icons {
	width: 1.5em;
	height: 1.5em;
	background-size: 1.5em 1.5em;
	padding-right: 1em;
  }

}

/* * * * * * * * * * END MEDIA QUERIES * * * * * * * * * */

body {
  font-family: -apple-system, BlinkMacSystemFont, SF Pro Display, Roboto, Helvetica Neue, sans-serif;
  line-height: 1.5;
}

div.main {
  background-color: #f1f1f1;
}

h1, h2 {
  line-height: 1.2em;
  font-weight: 700;
}

.headshot {
	height: 5em;
	width: 5em;
	border-radius: 500px;
	-webkitborder-radius: 500px;
	outline: none;
}

a {
	color: #00c490;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #00694d;
}

.icons {
	display: inline-block;
}

/* object.get-in-touch {
  position: relative;
  padding-right: 1.5em;
} */

svg, object.icons {
  position: relative;
  padding-right: 1.5em;
}

.arrow {
	display: inline;
	width: 1.1em;
	height: 1.1em;
	background-size: 1.1em 1.1em;
	outline: none;
	position: relative;
  top: 0.15em;
  bottom: 0em;
  padding: 0em;
}
